@media (min-width: 576px) {

    html, body {
        height: 100%;
    }

    body, body .container-fluid {
        display: flex;
        flex-direction: column;
    }

    .container-fluid,.container-fluid .nav-main{
        flex: 1
    }
}


@media (max-width: 575px) {
    .nav a {
        text-align: center;
    }
}

.nav-pills .nav-link:not(.active) {
    color: dimgrey;
}


.nav-pills .nav-link.active{
    background-color: darkgreen;
}